<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NanjingGY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="appId" value="ROMENS"/>
    <add key ="appSecret" value ="ROMENS"/>
    <add key ="clientID" value ="ROMENS"/>
    <add key ="url" value ="192.168.100.66:8017/api/g3Erp/"/>
  </appSettings>
</configuration>